/bitrix/backup
/bitrix/admin
/bitrix/updates
/bitrix/cache
/bitrix/crontab
/bitrix/managed_cache
/bitrix/managed_flags
/bitrix/components/bitrix
bitrix/catalog_export

/bitrix/modules/1С
/bitrix/modules/abtest
/bitrix/modules/advertising
/bitrix/modules/b24connector
/bitrix/modules/bitrix.eshop
/bitrix/modules/bitrix.sitecommunity
/bitrix/modules/bitrix.sitecorporate
/bitrix/modules/bitrix.siteinfoportal
/bitrix/modules/bitrix.sitepersonal
/bitrix/modules/bitrixcloud
/bitrix/modules/bizproc
/bitrix/modules/bizprocdesigner
/bitrix/modules/blog
/bitrix/modules/calendar
/bitrix/modules/catalog
/bitrix/modules/clouds
/bitrix/modules/cluster
/bitrix/modules/compression
/bitrix/modules/controller
/bitrix/modules/conversion
/bitrix/modules/crm
/bitrix/modules/currency
/bitrix/modules/dav
/bitrix/modules/DAV
/bitrix/modules/desktop
/bitrix/modules/disk
/bitrix/modules/documentgenerator
/bitrix/modules/extranet
/bitrix/modules/faceid
/bitrix/modules/fileman
/bitrix/modules/form
/bitrix/modules/forum
/bitrix/modules/highloadblock
/bitrix/modules/iblock
/bitrix/modules/idea
/bitrix/modules/im
/bitrix/modules/imbot
/bitrix/modules/imconnector
/bitrix/modules/imopenlines
/bitrix/modules/intranet
/bitrix/modules/landing
/bitrix/modules/ldap
/bitrix/modules/learning
/bitrix/modules/lists
/bitrix/modules/mail
/bitrix/modules/main
/bitrix/modules/meeting
/bitrix/modules/messageservice
/bitrix/modules/ml
/bitrix/modules/mobile
/bitrix/modules/mobileapp
/bitrix/modules/perfmon
/bitrix/modules/photogallery
/bitrix/modules/pull
/bitrix/modules/recyclebin
/bitrix/modules/report
/bitrix/modules/rest
/bitrix/modules/sale
/bitrix/modules/salescenter
/bitrix/modules/scale
/bitrix/modules/search
/bitrix/modules/security
/bitrix/modules/sender
/bitrix/modules/seo
/bitrix/modules/socialnetwork
/bitrix/modules/socialservices
/bitrix/modules/statistic
/bitrix/modules/storeassist
/bitrix/modules/subscribe
/bitrix/modules/support
/bitrix/modules/tasks
/bitrix/modules/timeman
/bitrix/modules/transformer
/bitrix/modules/translate
/bitrix/modules/ui
/bitrix/modules/video
/bitrix/modules/vote
/bitrix/modules/voximplant
/bitrix/modules/webdav
/bitrix/modules/webservice
/bitrix/modules/wiki
/bitrix/modules/workflow
/bitrix/modules/xdimport
/bitrix/modules/xmpp
/bitrix/modules/begateway.payment

/bitrix/php_interface/crontab
/bitrix/php_interface/dbconn.php
/bitrix/stack_cache
/logs
/upload
/.htaccess
*.log
/*.sql
/*.txt
/*.dt
/*.zip
/*.xml
/*.key
/.git
/web.config
/images
/files

